.container {
    display: flex;
    height: 400px;
    width: 100%;
}

.imageContainer {
    position: relative;
    flex: 1;
    height: 100%;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
}

.content h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.content p {
    font-size: 1rem;
    text-align: center;
    text-align: justify;
}
